<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../vue.js"></script>

<div id="app">
    <h1>{{ title }}</h1>
    <button @click="title = 'Changed'">Update title</button>
    <button @click="destory">Destroy</button>
</div>

<script src="instance.js">

</script>
</body>
</html>